body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(150, 227, 39, 1) 49%,
    rgba(196, 0, 255, 1) 100%
  );
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  background: rgb(255, 124, 2);
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 5px;
  border-style: inset;
  align-items: center;
  border-color: black;
}

h1 {
  font-weight: 300;
  text-align: center;
}

h2 {
  text-align: center;
}

.card {
  background: rgb(255, 124, 2);
  padding: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 5px;
  border-style: dashed;
  border-top-color: black;
}

button {
  margin: 10px;
}

img {
  border-radius: 8px;
  max-width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#werewolf {
  filter: grayscale(100%);
}
#introCard,
#branchOne,
#branchTwo,
#branchThree,
#branchFour,
#endingOne,
#endingTwo {
  display: none;
}

footer {
  text-align: center;
}
